moduls/plugin-regweb3-v1.0/moduls/webservicesClient/wsdl/RegwebFacade.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="urn:es:caib:regweb:ws:v1:services" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="urn:es:caib:regweb:ws:v1:services" xmlns:intf="urn:es:caib:regweb:ws:v1:services" xmlns:tns1="urn:es:caib:regweb:ws:v1:model:RegwebFacade" xmlns:tns2="urn:es:caib:regweb:ws:v1:model:ParametrosRegistroEntradaWS" xmlns:tns3="urn:es:caib:regweb:ws:v1:model:ParametrosRegistroSalidaWS" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="urn:es:caib:regweb:ws:v1:model:RegwebFacade" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="urn:es:caib:regweb:ws:v1:model:ParametrosRegistroSalidaWS"/>
   <import namespace="urn:es:caib:regweb:ws:v1:model:ParametrosRegistroEntradaWS"/>
   <element name="actualizarEntrada">
    <complexType>
     <sequence>
      <element name="parametrosEntrada" type="tns2:ParametrosRegistroEntradaWS"/>
     </sequence>
    </complexType>
   </element>
   <element name="actualizarEntradaResponse">
    <complexType>
     <sequence>
      <element name="actualizarEntradaReturn" type="tns2:ParametrosRegistroEntradaWS"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="RegwebFacadeException">
    <sequence/>
   </complexType>
   <element name="fault" type="tns1:RegwebFacadeException"/>
   <element name="actualizarSalida">
    <complexType>
     <sequence>
      <element name="parametrosSalida" type="tns3:ParametrosRegistroSalidaWS"/>
     </sequence>
    </complexType>
   </element>
   <element name="actualizarSalidaResponse">
    <complexType>
     <sequence>
      <element name="actualizarSalidaReturn" type="tns3:ParametrosRegistroSalidaWS"/>
     </sequence>
    </complexType>
   </element>
   <element name="anularEntrada">
    <complexType>
     <sequence>
      <element name="parametrosEntrada" type="tns2:ParametrosRegistroEntradaWS"/>
      <element name="anular" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="anularEntradaResponse">
    <complexType>
     <sequence>
      <element name="anularEntradaReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="anularSalida">
    <complexType>
     <sequence>
      <element name="parametrosSalida" type="tns3:ParametrosRegistroSalidaWS"/>
      <element name="anular" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="anularSalidaResponse">
    <complexType>
     <sequence>
      <element name="anularSalidaReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="grabarEntrada">
    <complexType>
     <sequence>
      <element name="parametrosEntrada" type="tns2:ParametrosRegistroEntradaWS"/>
     </sequence>
    </complexType>
   </element>
   <element name="grabarEntradaResponse">
    <complexType>
     <sequence>
      <element name="grabarEntradaReturn" type="tns2:ParametrosRegistroEntradaWS"/>
     </sequence>
    </complexType>
   </element>
   <element name="grabarSalida">
    <complexType>
     <sequence>
      <element name="parametrosSalida" type="tns3:ParametrosRegistroSalidaWS"/>
     </sequence>
    </complexType>
   </element>
   <element name="grabarSalidaResponse">
    <complexType>
     <sequence>
      <element name="grabarSalidaReturn" type="tns3:ParametrosRegistroSalidaWS"/>
     </sequence>
    </complexType>
   </element>
   <element name="leerEntrada">
    <complexType>
     <sequence>
      <element name="parametrosEntrada" type="tns2:ParametrosRegistroEntradaWS"/>
     </sequence>
    </complexType>
   </element>
   <element name="leerEntradaResponse">
    <complexType>
     <sequence>
      <element name="leerEntradaReturn" type="tns2:ParametrosRegistroEntradaWS"/>
     </sequence>
    </complexType>
   </element>
   <element name="leerSalida">
    <complexType>
     <sequence>
      <element name="parametrosSalida" type="tns3:ParametrosRegistroSalidaWS"/>
     </sequence>
    </complexType>
   </element>
   <element name="leerSalidaResponse">
    <complexType>
     <sequence>
      <element name="leerSalidaReturn" type="tns3:ParametrosRegistroSalidaWS"/>
     </sequence>
    </complexType>
   </element>
   <element name="validarEntrada">
    <complexType>
     <sequence>
      <element name="parametrosEntrada" type="tns2:ParametrosRegistroEntradaWS"/>
     </sequence>
    </complexType>
   </element>
   <element name="validarEntradaResponse">
    <complexType>
     <sequence>
      <element name="validarEntradaReturn" type="tns2:ParametrosRegistroEntradaWS"/>
     </sequence>
    </complexType>
   </element>
   <element name="validarSalida">
    <complexType>
     <sequence>
      <element name="parametrosSalida" type="tns3:ParametrosRegistroSalidaWS"/>
     </sequence>
    </complexType>
   </element>
   <element name="validarSalidaResponse">
    <complexType>
     <sequence>
      <element name="validarSalidaReturn" type="tns3:ParametrosRegistroSalidaWS"/>
     </sequence>
    </complexType>
   </element>
   <element name="buscarOficinasFisicasDescripcion">
    <complexType>
     <sequence>
      <element name="usuario" type="xsd:string"/>
      <element name="password" type="xsd:string"/>
      <element name="filtro" type="xsd:string"/>
      <element name="tipo" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="buscarOficinasFisicasDescripcionResponse">
    <complexType>
     <sequence>
      <element name="buscarOficinasFisicasDescripcionReturn" type="tns1:listaResultados"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="listaResultados">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="resultado" type="xsd:string"/>
    </sequence>
   </complexType>
   <element name="buscarOficinasFisicas">
    <complexType>
     <sequence>
      <element name="usuario" type="xsd:string"/>
      <element name="password" type="xsd:string"/>
      <element name="usuarioRegistro" type="xsd:string"/>
      <element name="tipo" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="buscarOficinasFisicasResponse">
    <complexType>
     <sequence>
      <element name="buscarOficinasFisicasReturn" type="tns1:listaResultados"/>
     </sequence>
    </complexType>
   </element>
   <element name="buscarDocumentos">
    <complexType>
     <sequence>
      <element name="usuario" type="xsd:string"/>
      <element name="password" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="buscarDocumentosResponse">
    <complexType>
     <sequence>
      <element name="buscarDocumentosReturn" type="tns1:listaResultados"/>
     </sequence>
    </complexType>
   </element>
   <element name="buscarTodosDestinatarios">
    <complexType>
     <sequence>
      <element name="usuario" type="xsd:string"/>
      <element name="password" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="buscarTodosDestinatariosResponse">
    <complexType>
     <sequence>
      <element name="buscarTodosDestinatariosReturn" type="tns1:listaResultados"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema targetNamespace="urn:es:caib:regweb:ws:v1:model:ParametrosRegistroEntradaWS" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="urn:es:caib:regweb:ws:v1:model:RegwebFacade"/>
   <import namespace="urn:es:caib:regweb:ws:v1:model:ParametrosRegistroSalidaWS"/>
   <complexType name="ParametrosRegistroPublicadoEntradaWS">
    <sequence>
     <element name="anoEntrada" type="xsd:int"/>
     <element name="numero" type="xsd:int"/>
     <element name="oficina" type="xsd:int"/>
     <element name="numeroBOCAIB" type="xsd:int"/>
     <element name="fecha" type="xsd:int"/>
     <element name="pagina" type="xsd:int"/>
     <element name="lineas" type="xsd:int"/>
     <element name="contenido" type="xsd:string"/>
     <element name="observaciones" type="xsd:string"/>
     <element name="leido" type="xsd:boolean"/>
     <element name="errorfecha" type="xsd:boolean"/>
    </sequence>
   </complexType>
   <complexType name="errorEntrada">
    <sequence>
     <element name="codigo" type="xsd:string"/>
     <element name="descripcion" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="listaErroresEntrada">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="errores" type="tns2:errorEntrada"/>
    </sequence>
   </complexType>
   <complexType name="ParametrosRegistroEntradaWS">
    <sequence>
     <element name="usuarioRegistro" type="xsd:string"/>
     <element name="password" type="xsd:string"/>
     <element name="usuarioConexion" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="actualizacion" type="xsd:boolean"/>
     <element maxOccurs="1" minOccurs="0" name="altres" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="altresNuevo" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="anoEntrada" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="balears" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="comentario" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="comentarioNuevo" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="correo" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="data" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="dataentrada" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="dataVisado" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="descripcionDocumento" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="descripcionIdiomaDocumento" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="descripcionMunicipi060" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="descripcionOficina" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="descripcionOficinaFisica" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="descripcionOrganismoDestinatario" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="descripcionRemitente" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="destinatari" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="disquet" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="emailRemitent" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="entidad1" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="entidad1Grabada" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="entidad1Nuevo" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="entidad2" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="entidad2Nuevo" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="entidadCastellano" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="fora" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="hora" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="idioex" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="idioma" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="idiomaExtracto" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="leido" type="xsd:boolean"/>
     <element maxOccurs="1" minOccurs="0" name="localitzadorsDocs" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="motivo" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="municipi060" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="numeroDocumentosRegistro060" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="numeroEntrada" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="oficina" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="oficinafisica" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="origenRegistro" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="paramRegPubEnt" type="tns2:ParametrosRegistroPublicadoEntradaWS"/>
     <element maxOccurs="1" minOccurs="0" name="procedenciaGeografica" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="registroActualizado" type="xsd:boolean"/>
     <element maxOccurs="1" minOccurs="0" name="registroAnulado" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="registroGrabado" type="xsd:boolean"/>
     <element maxOccurs="1" minOccurs="0" name="salida1" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="salida2" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="tipo" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="validado" type="xsd:boolean"/>
     <element maxOccurs="1" minOccurs="0" name="errores" type="tns2:listaErroresEntrada"/>
    </sequence>
   </complexType>
  </schema>
  <schema targetNamespace="urn:es:caib:regweb:ws:v1:model:ParametrosRegistroSalidaWS" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="urn:es:caib:regweb:ws:v1:model:RegwebFacade"/>
   <import namespace="urn:es:caib:regweb:ws:v1:model:ParametrosRegistroEntradaWS"/>
   <complexType name="errorSalida">
    <sequence>
     <element name="codigo" type="xsd:string"/>
     <element name="descripcion" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="listaErroresSalida">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="errores" type="tns3:errorSalida"/>
    </sequence>
   </complexType>
   <complexType name="ParametrosRegistroSalidaWS">
    <sequence>
     <element name="usuarioRegistro" type="xsd:string"/>
     <element name="usuarioConexion" type="xsd:string"/>
     <element name="password" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="anoSalida" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="actualizacion" type="xsd:boolean"/>
     <element maxOccurs="1" minOccurs="0" name="registroSalidaGrabado" type="xsd:boolean"/>
     <element maxOccurs="1" minOccurs="0" name="entidadCastellano" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="registroAnulado" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="numeroSalida" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="descripcionOficina" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="descripcionOficinaFisica" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="descripcionDestinatario" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="correo" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="descripcionOrganismoRemitente" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="descripcionDocumento" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="descripcionIdiomaDocumento" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="destinoGeografico" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="idiomaExtracto" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="datasalida" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="hora" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="oficina" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="oficinafisica" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="data" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="tipo" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="idioma" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="entidad1" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="entidad2" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="altres" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="balears" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="fora" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="entrada1" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="entrada2" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="remitent" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="idioex" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="disquet" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="registroActualizado" type="xsd:boolean"/>
     <element maxOccurs="1" minOccurs="0" name="comentario" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="motivo" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="entidad1Nuevo" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="entidad2Nuevo" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="altresNuevo" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="comentarioNuevo" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="dataVisado" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="validado" type="xsd:boolean"/>
     <element maxOccurs="1" minOccurs="0" name="leido" type="xsd:boolean"/>
     <element maxOccurs="1" minOccurs="0" name="entidad1Grabada" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="emailRemitent" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="localitzadorsDocs" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="errores" type="tns3:listaErroresSalida"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="anularEntradaRequest">

      <wsdl:part element="tns1:anularEntrada" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="actualizarSalidaResponse">

      <wsdl:part element="tns1:actualizarSalidaResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="leerSalidaRequest">

      <wsdl:part element="tns1:leerSalida" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="anularSalidaRequest">

      <wsdl:part element="tns1:anularSalida" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="actualizarSalidaRequest">

      <wsdl:part element="tns1:actualizarSalida" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="buscarDocumentosResponse">

      <wsdl:part element="tns1:buscarDocumentosResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="actualizarEntradaRequest">

      <wsdl:part element="tns1:actualizarEntrada" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="actualizarEntradaResponse">

      <wsdl:part element="tns1:actualizarEntradaResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="buscarOficinasFisicasResponse">

      <wsdl:part element="tns1:buscarOficinasFisicasResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="leerSalidaResponse">

      <wsdl:part element="tns1:leerSalidaResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="buscarDocumentosRequest">

      <wsdl:part element="tns1:buscarDocumentos" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="validarEntradaRequest">

      <wsdl:part element="tns1:validarEntrada" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="validarSalidaRequest">

      <wsdl:part element="tns1:validarSalida" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="grabarSalidaRequest">

      <wsdl:part element="tns1:grabarSalida" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="grabarEntradaResponse">

      <wsdl:part element="tns1:grabarEntradaResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="leerEntradaResponse">

      <wsdl:part element="tns1:leerEntradaResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="buscarOficinasFisicasRequest">

      <wsdl:part element="tns1:buscarOficinasFisicas" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="RegwebFacadeException">

      <wsdl:part element="tns1:fault" name="fault"/>

   </wsdl:message>

   <wsdl:message name="grabarEntradaRequest">

      <wsdl:part element="tns1:grabarEntrada" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="anularSalidaResponse">

      <wsdl:part element="tns1:anularSalidaResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="buscarOficinasFisicasDescripcionRequest">

      <wsdl:part element="tns1:buscarOficinasFisicasDescripcion" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="anularEntradaResponse">

      <wsdl:part element="tns1:anularEntradaResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="validarSalidaResponse">

      <wsdl:part element="tns1:validarSalidaResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="buscarOficinasFisicasDescripcionResponse">

      <wsdl:part element="tns1:buscarOficinasFisicasDescripcionResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="buscarTodosDestinatariosResponse">

      <wsdl:part element="tns1:buscarTodosDestinatariosResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="validarEntradaResponse">

      <wsdl:part element="tns1:validarEntradaResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="leerEntradaRequest">

      <wsdl:part element="tns1:leerEntrada" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="buscarTodosDestinatariosRequest">

      <wsdl:part element="tns1:buscarTodosDestinatarios" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="grabarSalidaResponse">

      <wsdl:part element="tns1:grabarSalidaResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:portType name="RegwebFacade">

      <wsdl:operation name="actualizarEntrada">

         <wsdl:input message="impl:actualizarEntradaRequest" name="actualizarEntradaRequest"/>

         <wsdl:output message="impl:actualizarEntradaResponse" name="actualizarEntradaResponse"/>

         <wsdl:fault message="impl:RegwebFacadeException" name="RegwebFacadeException"/>

      </wsdl:operation>

      <wsdl:operation name="actualizarSalida">

         <wsdl:input message="impl:actualizarSalidaRequest" name="actualizarSalidaRequest"/>

         <wsdl:output message="impl:actualizarSalidaResponse" name="actualizarSalidaResponse"/>

         <wsdl:fault message="impl:RegwebFacadeException" name="RegwebFacadeException"/>

      </wsdl:operation>

      <wsdl:operation name="anularEntrada">

         <wsdl:input message="impl:anularEntradaRequest" name="anularEntradaRequest"/>

         <wsdl:output message="impl:anularEntradaResponse" name="anularEntradaResponse"/>

         <wsdl:fault message="impl:RegwebFacadeException" name="RegwebFacadeException"/>

      </wsdl:operation>

      <wsdl:operation name="anularSalida">

         <wsdl:input message="impl:anularSalidaRequest" name="anularSalidaRequest"/>

         <wsdl:output message="impl:anularSalidaResponse" name="anularSalidaResponse"/>

         <wsdl:fault message="impl:RegwebFacadeException" name="RegwebFacadeException"/>

      </wsdl:operation>

      <wsdl:operation name="grabarEntrada">

         <wsdl:input message="impl:grabarEntradaRequest" name="grabarEntradaRequest"/>

         <wsdl:output message="impl:grabarEntradaResponse" name="grabarEntradaResponse"/>

         <wsdl:fault message="impl:RegwebFacadeException" name="RegwebFacadeException"/>

      </wsdl:operation>

      <wsdl:operation name="grabarSalida">

         <wsdl:input message="impl:grabarSalidaRequest" name="grabarSalidaRequest"/>

         <wsdl:output message="impl:grabarSalidaResponse" name="grabarSalidaResponse"/>

         <wsdl:fault message="impl:RegwebFacadeException" name="RegwebFacadeException"/>

      </wsdl:operation>

      <wsdl:operation name="leerEntrada">

         <wsdl:input message="impl:leerEntradaRequest" name="leerEntradaRequest"/>

         <wsdl:output message="impl:leerEntradaResponse" name="leerEntradaResponse"/>

         <wsdl:fault message="impl:RegwebFacadeException" name="RegwebFacadeException"/>

      </wsdl:operation>

      <wsdl:operation name="leerSalida">

         <wsdl:input message="impl:leerSalidaRequest" name="leerSalidaRequest"/>

         <wsdl:output message="impl:leerSalidaResponse" name="leerSalidaResponse"/>

         <wsdl:fault message="impl:RegwebFacadeException" name="RegwebFacadeException"/>

      </wsdl:operation>

      <wsdl:operation name="validarEntrada">

         <wsdl:input message="impl:validarEntradaRequest" name="validarEntradaRequest"/>

         <wsdl:output message="impl:validarEntradaResponse" name="validarEntradaResponse"/>

         <wsdl:fault message="impl:RegwebFacadeException" name="RegwebFacadeException"/>

      </wsdl:operation>

      <wsdl:operation name="validarSalida">

         <wsdl:input message="impl:validarSalidaRequest" name="validarSalidaRequest"/>

         <wsdl:output message="impl:validarSalidaResponse" name="validarSalidaResponse"/>

         <wsdl:fault message="impl:RegwebFacadeException" name="RegwebFacadeException"/>

      </wsdl:operation>

      <wsdl:operation name="buscarOficinasFisicasDescripcion">

         <wsdl:input message="impl:buscarOficinasFisicasDescripcionRequest" name="buscarOficinasFisicasDescripcionRequest"/>

         <wsdl:output message="impl:buscarOficinasFisicasDescripcionResponse" name="buscarOficinasFisicasDescripcionResponse"/>

         <wsdl:fault message="impl:RegwebFacadeException" name="RegwebFacadeException"/>

      </wsdl:operation>

      <wsdl:operation name="buscarOficinasFisicas">

         <wsdl:input message="impl:buscarOficinasFisicasRequest" name="buscarOficinasFisicasRequest"/>

         <wsdl:output message="impl:buscarOficinasFisicasResponse" name="buscarOficinasFisicasResponse"/>

         <wsdl:fault message="impl:RegwebFacadeException" name="RegwebFacadeException"/>

      </wsdl:operation>

      <wsdl:operation name="buscarDocumentos">

         <wsdl:input message="impl:buscarDocumentosRequest" name="buscarDocumentosRequest"/>

         <wsdl:output message="impl:buscarDocumentosResponse" name="buscarDocumentosResponse"/>

         <wsdl:fault message="impl:RegwebFacadeException" name="RegwebFacadeException"/>

      </wsdl:operation>

      <wsdl:operation name="buscarTodosDestinatarios">

         <wsdl:input message="impl:buscarTodosDestinatariosRequest" name="buscarTodosDestinatariosRequest"/>

         <wsdl:output message="impl:buscarTodosDestinatariosResponse" name="buscarTodosDestinatariosResponse"/>

         <wsdl:fault message="impl:RegwebFacadeException" name="RegwebFacadeException"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="RegwebFacadeSoapBinding" type="impl:RegwebFacade">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="actualizarEntrada">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="actualizarEntradaRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="actualizarEntradaResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="RegwebFacadeException">

            <wsdlsoap:fault name="RegwebFacadeException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="actualizarSalida">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="actualizarSalidaRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="actualizarSalidaResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="RegwebFacadeException">

            <wsdlsoap:fault name="RegwebFacadeException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="anularEntrada">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="anularEntradaRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="anularEntradaResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="RegwebFacadeException">

            <wsdlsoap:fault name="RegwebFacadeException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="anularSalida">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="anularSalidaRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="anularSalidaResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="RegwebFacadeException">

            <wsdlsoap:fault name="RegwebFacadeException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="grabarEntrada">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="grabarEntradaRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="grabarEntradaResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="RegwebFacadeException">

            <wsdlsoap:fault name="RegwebFacadeException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="grabarSalida">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="grabarSalidaRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="grabarSalidaResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="RegwebFacadeException">

            <wsdlsoap:fault name="RegwebFacadeException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="leerEntrada">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="leerEntradaRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="leerEntradaResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="RegwebFacadeException">

            <wsdlsoap:fault name="RegwebFacadeException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="leerSalida">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="leerSalidaRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="leerSalidaResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="RegwebFacadeException">

            <wsdlsoap:fault name="RegwebFacadeException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="validarEntrada">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="validarEntradaRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="validarEntradaResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="RegwebFacadeException">

            <wsdlsoap:fault name="RegwebFacadeException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="validarSalida">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="validarSalidaRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="validarSalidaResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="RegwebFacadeException">

            <wsdlsoap:fault name="RegwebFacadeException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="buscarOficinasFisicasDescripcion">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="buscarOficinasFisicasDescripcionRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="buscarOficinasFisicasDescripcionResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="RegwebFacadeException">

            <wsdlsoap:fault name="RegwebFacadeException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="buscarOficinasFisicas">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="buscarOficinasFisicasRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="buscarOficinasFisicasResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="RegwebFacadeException">

            <wsdlsoap:fault name="RegwebFacadeException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="buscarDocumentos">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="buscarDocumentosRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="buscarDocumentosResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="RegwebFacadeException">

            <wsdlsoap:fault name="RegwebFacadeException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="buscarTodosDestinatarios">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="buscarTodosDestinatariosRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="buscarTodosDestinatariosResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="RegwebFacadeException">

            <wsdlsoap:fault name="RegwebFacadeException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="RegwebFacadeService">

      <wsdl:port binding="impl:RegwebFacadeSoapBinding" name="RegwebFacade">

         <wsdlsoap:address location="http://sdesapplin10.caib.es:48080/regweb/WS/services/RegwebFacade"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
