moduls/plugin-pago/moduls/persistence/wsdl/pagos.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.atib.es/services/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://www.atib.es/services/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.atib.es/services/">
      <s:element name="inicio">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sB64" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="inicioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="inicioResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="inicioXML">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xIn">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="inicioXMLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="inicioXMLResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ping">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="incoming" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="pingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pingResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ws1">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="idTasa" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ws1Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ws1Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ws4">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="localizador" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ws4Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ws4Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ws5">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="localizador" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ws5Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ws5Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Localizador">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Modelo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LocalizadorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LocalizadorResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetVersion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IDApp" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetVersionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetVersionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="inicioSoapIn">
    <wsdl:part name="parameters" element="tns:inicio" />
  </wsdl:message>
  <wsdl:message name="inicioSoapOut">
    <wsdl:part name="parameters" element="tns:inicioResponse" />
  </wsdl:message>
  <wsdl:message name="inicioXMLSoapIn">
    <wsdl:part name="parameters" element="tns:inicioXML" />
  </wsdl:message>
  <wsdl:message name="inicioXMLSoapOut">
    <wsdl:part name="parameters" element="tns:inicioXMLResponse" />
  </wsdl:message>
  <wsdl:message name="pingSoapIn">
    <wsdl:part name="parameters" element="tns:ping" />
  </wsdl:message>
  <wsdl:message name="pingSoapOut">
    <wsdl:part name="parameters" element="tns:pingResponse" />
  </wsdl:message>
  <wsdl:message name="ws1SoapIn">
    <wsdl:part name="parameters" element="tns:ws1" />
  </wsdl:message>
  <wsdl:message name="ws1SoapOut">
    <wsdl:part name="parameters" element="tns:ws1Response" />
  </wsdl:message>
  <wsdl:message name="ws4SoapIn">
    <wsdl:part name="parameters" element="tns:ws4" />
  </wsdl:message>
  <wsdl:message name="ws4SoapOut">
    <wsdl:part name="parameters" element="tns:ws4Response" />
  </wsdl:message>
  <wsdl:message name="ws5SoapIn">
    <wsdl:part name="parameters" element="tns:ws5" />
  </wsdl:message>
  <wsdl:message name="ws5SoapOut">
    <wsdl:part name="parameters" element="tns:ws5Response" />
  </wsdl:message>
  <wsdl:message name="LocalizadorSoapIn">
    <wsdl:part name="parameters" element="tns:Localizador" />
  </wsdl:message>
  <wsdl:message name="LocalizadorSoapOut">
    <wsdl:part name="parameters" element="tns:LocalizadorResponse" />
  </wsdl:message>
  <wsdl:message name="GetVersionSoapIn">
    <wsdl:part name="parameters" element="tns:GetVersion" />
  </wsdl:message>
  <wsdl:message name="GetVersionSoapOut">
    <wsdl:part name="parameters" element="tns:GetVersionResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="inicio">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Inicio de Servico con un String del XML en base64: Devuelve un token valido para 20 minutos para efectuar el Pago</wsdl:documentation>
      <wsdl:input message="tns:inicioSoapIn" />
      <wsdl:output message="tns:inicioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="inicioXML">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Inicio de Servico con XMLDocument: Devuelve untoken valido para 20 minutos para efectuar el Pago</wsdl:documentation>
      <wsdl:input message="tns:inicioXMLSoapIn" />
      <wsdl:output message="tns:inicioXMLSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ping">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Devuelve el texto enviado</wsdl:documentation>
      <wsdl:input message="tns:pingSoapIn" />
      <wsdl:output message="tns:pingSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ws1">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Devuelve el precio de una tasa en centimos.</wsdl:documentation>
      <wsdl:input message="tns:ws1SoapIn" />
      <wsdl:output message="tns:ws1SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ws4">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Analiza el estado del Localizador, Devuelve un XML firmado</wsdl:documentation>
      <wsdl:input message="tns:ws4SoapIn" />
      <wsdl:output message="tns:ws4SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ws5">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Obtener un Token para el acceso del usuario al Portal Del Contribuyente para comprobar el pago. Enta con el localizador</wsdl:documentation>
      <wsdl:input message="tns:ws5SoapIn" />
      <wsdl:output message="tns:ws5SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Localizador">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Devuelve Localizador.</wsdl:documentation>
      <wsdl:input message="tns:LocalizadorSoapIn" />
      <wsdl:output message="tns:LocalizadorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetVersion">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Devuelve la versión de la aplicación.</wsdl:documentation>
      <wsdl:input message="tns:GetVersionSoapIn" />
      <wsdl:output message="tns:GetVersionSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="inicio">
      <soap:operation soapAction="http://www.atib.es/services/inicio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="inicioXML">
      <soap:operation soapAction="http://www.atib.es/services/inicioXML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ping">
      <soap:operation soapAction="http://www.atib.es/services/ping" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ws1">
      <soap:operation soapAction="http://www.atib.es/services/ws1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ws4">
      <soap:operation soapAction="http://www.atib.es/services/ws4" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ws5">
      <soap:operation soapAction="http://www.atib.es/services/ws5" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Localizador">
      <soap:operation soapAction="http://www.atib.es/services/Localizador" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVersion">
      <soap:operation soapAction="http://www.atib.es/services/GetVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="inicio">
      <soap12:operation soapAction="http://www.atib.es/services/inicio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="inicioXML">
      <soap12:operation soapAction="http://www.atib.es/services/inicioXML" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ping">
      <soap12:operation soapAction="http://www.atib.es/services/ping" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ws1">
      <soap12:operation soapAction="http://www.atib.es/services/ws1" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ws4">
      <soap12:operation soapAction="http://www.atib.es/services/ws4" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ws5">
      <soap12:operation soapAction="http://www.atib.es/services/ws5" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Localizador">
      <soap12:operation soapAction="http://www.atib.es/services/Localizador" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVersion">
      <soap12:operation soapAction="http://www.atib.es/services/GetVersion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://www.atib.es/servicios/service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://www.atib.es/servicios/service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>